<div id="timer">
    <h3>Priscilla's Study Timer</h3>
    <br>
    <h1 id="work_timer">00:00:00</h1>
    <button id="Work" class="btn btn-lg btn-success">Start Work</button>
    <br>
    <h1 id="break_timer">00:00:00</h1>
    <button id="Break" class="btn btn-lg btn-success">Start Break</button>
</div>
<div id="report">
    <h2>Time Report</h2>
    <ul>

    </ul>
</div>

